# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Entorno vir*ual
venv/
.venv/
env/

# Archivos *emporales Python
.pytest_cache/
.m*py_cache/
.coverage
htmlcov/

# ==*==================================*====
# BASE DE DATOS
# ==========================================

*.sqlite3
*.db

# ==========================================
# VARIABLES DE ENTORNO
# ==========================================

.env
.env.*

# ==========================================
# VISUAL STUDIO CODE
# ==========================================

.vscode/*
!.vscode/extensions.json

# ==========================================
# JETBRAINS
# ==========================================

.idea/

# ==========================================
# WINDOWS
# ==========================================

Thumbs.db
Desktop.ini

# ==========================================
# MAC
# ==========================================

.DS_Store

# ==========================================
# LOGS
# ==========================================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# REACT / VITE / TYPESCRIPT
# ==========================================

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

node_modules/
dist/
dist-ssr/

*.local

# ==========================================
# BUILD
# ==========================================

build/
coverage/

# ==========================================
# ARCHIVOS TEMPORALES
# ==========================================

*.tmp
*.temp
*.bak
*.swp
*.swo

# ==========================================
# ARCHIVOS VISUAL STUDIO
# ==========================================

*.suo
*.ntvs*
*.njsproj
*.sln

# ===============*==========================
# JUPYT*R
# ==============================*===========

.ipynb_checkpoints/

* =================================*========
# PLOTLY CACHE
# ========*=================================
*.plotly/

# ======================*===================
# SISTEMA OPER*TIVO
# ===========================*==============

.cache/